/* Modified YUI2 Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0; }
table { border-collapse:collapse;border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal;font-weight:normal;}
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%;font-weight:normal;}
q:before,q:after { content:'';}
a { text-decoration:none; outline: none; }
abbr,acronym { border:0;}
input, textarea { -webkit-appearance: none; }
header, article, section, nav, figure, aside, hgroup, footer { display:block; } // Only for HTML5
body, html { height:100%; }
html {overflow: -moz-scrollbars-vertical;overflow: scroll;} // Force vertical scrollbar

/* Commonly used classes */
.clear { clear: both !important; }
.fr { float: right !important; }
.fl { float: left !important; }
.fn { float: none !important; }
.hide { display: none !important; }
